/* your styles */
.edit {
  border: none;
  resize: none;
  padding: 0;
  display: block;
  overflow: visible;
}

.edit:focus {
  outline: none;
}

.ok {
  position: absolute;
  padding: 0;
  width: 30px;
  height: 20px;
}

.ok:before {
  content: 'OK';
}

.cancel {
  position: absolute;
  padding: 0;
  width: 70px;
  height: 20px;
}

.cancel:before {
  content: 'CANCEL';
}